section {
    padding-block: 4rem;
}

.relative {
    position: relative;
}

.img-responsive {
    width: 100%;
    display: block;
}

.fw-heavy {
    font-weight: bold;
}

h1.fs-sm {
    font-size: 2.2rem;
}

.text-wrap {
    white-space: pre-line !important;
    font-size: 1.6rem;
}

.text-center {
    text-align: center
}

.text-lg-end {
    text-align: end;
}

.text-white {
    color: #fff
}

.text-dark {
    color: #000
}

.text-blue {
    color: var(--sub-text);
}

.text-uppercase {
    text-transform: uppercase;
}

.grey-bg {
    background: #F3F3F3
}

.dark-bg {
    background: #121318;
}

.rotate {
    transform: rotate(168deg)
}

.banner-btn__row.first {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-bottom: auto;
    margin-top: auto;
    height: 200px;
    left: 20%;

}
.banner-btn__row.top {
    position: absolute;
    top: 40px;
    height: 200px;
    left: 53%;

}
.first .banner-btn__col {
    padding-top: 13rem;
}
.banner-btn__row.third {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-bottom: auto;
    margin-top: auto;
    height: 200px;
    left: 22%;

}
.third .banner-btn__col {
    padding-top: 13rem;
}
.values-bg {
    background-image: url(../img/values-bg.png);
    background-size: cover;
    background-position: center;
}

.btn-buy {
    background: var(--yellow);
    border-radius: 1.3rem;
    color: var(--dark-text);
    padding: 1.2rem 2rem;
    font-weight: 600;
    text-transform: uppercase;
    transition: filter .2s
}

.btn-buy:hover {
    filter: brightness(.7);
}

.c-value__btn {
    margin: 0 auto;
    margin-top: -6rem;
}

.c-value__li {
    padding: 1.2rem 1rem;

}

.c-value__li .teste {
    background-color: #fff;
    clip-path: ellipse();
    padding: 1rem;
}

.c-value__li .teste img {
    height: 45px;
    width: 45px;
}

.formula-col__item {
    border-radius: 38px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1.1rem .8rem 5rem .8rem;
    width: 100%;
    height: 726px;
    align-items: center;
}

.formula-col__item img {
    clip-path: ellipse;
    display: block;
    width: 90%;
}

.formula-col__item h2 {
    margin-block: 1.8rem;
}

.formula-col__item p {
    font-size: .8rem;
}

.video-card {
    border-radius: 1rem;
    background-image: url(../img/video-bg.svg);
    background-position-x: 100%;
    padding: 2rem 5rem;
}

.video-card figure {
    margin-block: 3.2rem;
    border: 5px solid #fff;
    border-radius: 1rem;
    filter: brightness(0.9);
    position: relative;
}

.c-video__player {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 100px;
    height: 100px;
    cursor: pointer;
    transition: transform 0.2s
}

.c-video__player:hover {
    transform: scale(1.2);
}

.items-card__option {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 1rem;
    padding: 1rem;
}

.items-card__option img {
    width: 70%;
    margin: 0 auto;

}

.items-card__option ul {
    width: 80%;
    white-space: nowrap;
    margin: 0 auto;
    color: #000;
}

.items-card__option ul li {
    padding: .5rem 1rem;
}

.items-card__option.promotion {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: 2px solid #FFC400;
    height: 620px;
}

.items-card__option.gift {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: 2px solid red;
    position: relative;
}

.gift-img {
    position: absolute;
    display: block;
    width: 50% !important;
    right: -17px;
    top: 27.5%;
}

.maca-bg {
    background-image: url(../img/maca.png)
}
.faq-bg{
    background-image: url(../img/faq-bg.png);
    backdrop-filter: brightness(.1);
}
.collapse:not(.show) {
    display: none;
    margin-bottom: 0px;
  }
.accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 1.25rem;
    font-size: 1rem;
    color: #fff;
    text-align: left;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #fff;
    border-radius: 0;
    overflow-anchor: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
  }
  @media (prefers-reduced-motion: reduce) {
    .accordion-button {
      transition: none;
    }
  }
  .accordion-button:not(.collapsed) {
    color:#fff;
    background-color: rgba(255, 255, 255, 0);
  }
  .accordion-button:not(.collapsed)::before {
    background-image: url(../img/closed.svg);
    width: 1.25rem;
  }
  .accordion-button::before {
    flex-shrink: 0;
    align-items:center;
    width: 1.25rem;
    height: 2.25rem;
    margin-right: .7rem;
    content: "";
    background-image: url(../img/open.svg);
    background-position-y: 60% ;
    background-repeat: no-repeat;
    background-size: 1.25rem;
  }
  @media (prefers-reduced-motion: reduce) {
    .accordion-button::before {
      transition: none;
    }
  }
  .accordion-button:hover {
    z-index: 2;
  }
  .accordion-button:focus {
    z-index: 3;
    border-color: #fff;
    outline: 0;
  }
  
  .accordion-header {
    margin-bottom: 0;
  }
  
  .accordion-item {
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid #fff;

  }
  .accordion-item:first-of-type {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }
  .accordion-item:first-of-type .accordion-button {
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
  }
  .accordion-item:not(:first-of-type) {
    border-top: 0;
  }
  .accordion-item:last-of-type {
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }
  .accordion-item:last-of-type .accordion-button.collapsed {
    border-bottom-right-radius: calc(0.25rem - 1px);
    border-bottom-left-radius: calc(0.25rem - 1px);
  }
  .accordion-item:last-of-type .accordion-collapse {
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }
  
  .accordion-body {
      color: #707070;
      background-color: #2E2E2E;
    padding: 1rem 1.25rem;
  }
  
  .accordion-flush .accordion-collapse {
    border-width: 0;
  }
  .accordion-flush .accordion-item {
    border-right: 0;
    border-left: 0;
    border-radius: 0;
  }
  .accordion-flush .accordion-item:first-child {
    border-top: 0;
  }
  .accordion-flush .accordion-item:last-child {
    border-bottom: 0;
  }
  .accordion-flush .accordion-item .accordion-button {
    border-radius: 0;
  }
  
@media screen and (max-width: 1640px) {
    .me-lg-none {
        margin-right: 0px !important;
    }
}

@media screen and (max-width:768px) {
    h1 {
        font-size: 2.5rem;
    }

    .formula-col__item {
        height: auto;
        margin-block: 1rem;
    }

    .text-lg-end {
        text-align: center
    }

    .video-card {
        padding: 1rem;
    }

    .d-sm-none {
        display: none !important
    }

    .d-sm-block {
        display: block !important
    }

    .gift-img {
        width: 42% !important;
        right: -10px !important
    }
}